.axis {
  stroke: #fcfbfa;
  stroke-width: 2px;
}

.y-axis-ticks text,
.y-axis text,
.x-axis-ticks text,
.x-axis text {
  fill: #fcfbfa;
}

#hydroclimate-line-title,
#hydroclimate-scatter-title {
  fill: #f1b143;
}

.climate-points {
  fill: #f1b143;
  text-anchor: middle;
  dominant-baseline: middle;
}

.axis-label {
  text-anchor: middle;
  dominant-baseline: middle;
}

.x-axis-ticks {
  text-anchor: middle;
  dominant-baseline: middle;
}

.y-axis-ticks {
  text-anchor: end;
  dominant-baseline: middle;
}

#y-axis-label,
#x-axis-label {
  text-anchor: middle;
}
