:root {
  --primary-color: #1a4472;
  --primary-color-transparent: #1a447280;
  --dark-color-transparent: #21212195;
  --dark-color: #021224;
  --light-color: #1a3a5c;
  --text-color: #fcfbfa;
  --highlight-color: #ffb347; /* #f1b143;*/
}

header {
  pointer-events: auto;
}

/* TODO: might need to set this in the story container */
body {
  background-color: #172a48 !important;
}

/* This shuts framer motion up: https://github.com/motiondivision/motion/issues/1853#issuecomment-2122841818*/
/* But this creates a second scroll bar*/
html {
  position: relative;
}

@media (min-width: 1536px) {
  .paragraph {
    margin-bottom: 3rem;
  }
}

@media (min-width: 1200px) {
  .paragraph {
    margin-bottom: 1.5rem;
  }
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.container,
.container-center {
  pointer-events: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-row {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: max-content;
  pointer-events: auto;
}

.container-center,
.container-center-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  pointer-events: auto;
}

.container-left {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: left;
  pointer-events: auto;
  align-items: center;
}

.text-container-left {
  text-align: left;
  width: 100%;
  word-break: break-word;
  overflow-wrap: break-word;
}