.pictogram-line {
  stroke: #f2f0ef;
  stroke-width: 5px;
}

.pictogram-title {
  text-anchor: start;
  dominant-baseline: middle;
}

.pictogram-label {
  font-weight: bold;
  text-anchor: end;
  dominant-baseline: middle;
}

.pictogram-city-label {
  text-anchor: end;
  dominant-baseline: middle;
}
