.axis {
  stroke: #fcfbfa;
  stroke-width: 2px;
}

#bar-svg text {
  fill: #fcfbfa;
}

.axis-label {
  text-anchor: middle;
  dominant-baseline: middle;
}

.x-axis-ticks {
  text-anchor: end;
  dominant-baseline: middle;
}

.y-axis-ticks {
  text-anchor: end;
  dominant-baseline: middle;
}

.tooltip {
  position: absolute;
  padding: 8px;
  pointer-events: none;
  white-space: nowrap;
  z-index: 1000;
}

.bars {
  cursor: pointer;
  pointer-events: auto;
}
