.axis{
    stroke: #F2F0EF;
    stroke-width: 2px;
}

text{
    fill: #F2F0EF;
}

.axis-label{
    text-anchor: middle;
    dominant-baseline: middle;
}

.x-axis-ticks {
    text-anchor: end;
    dominant-baseline: middle;
    font-size: 1.2rem;
}

.y-axis-ticks {
    text-anchor: end;
    dominant-baseline: middle;
    font-size: 1rem;
}

.tooltip{
    position: absolute;
    background: rgba(2, 18, 36, 0.9);
    color: #F2F0EF;
    padding: 8px;
    border-radius: 4px;
    pointer-events: none;
    white-space: nowrap;
    font-size: 1rem;
    z-index: 1000;
}

.bars{
    cursor: pointer;
    pointer-events: auto;
}
